@use '../abstracts/' as *;

.comment {
  width: 100%;
  padding-bottom: 1rem;

  font-family: $font-sans;
  color: $primary-black;
  @include font(1.6rem, 1.6rem, 400);
  letter-spacing: 0.08rem;

  border-bottom: 2px solid $accent-color-4;
}
.comment__author {
  font-family: $font-sans;
  color: $primary-black;
  @include font(1.6rem, 1.6rem, 700);
  letter-spacing: 0.1rem;
}
.comment__content {
  margin: 0.4rem 0 0.7rem 0;
}
.comment__info {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.comment__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.comment__like {
  display: inline-block;
  width: 20px;
  height: 20px;

  @include onHover() {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(76%) sepia(82%) saturate(4948%)
      hue-rotate(315deg) brightness(94%) contrast(121%);
  }
}
.comment__delete {
  display: inline-block;
  width: 20px;
  height: 20px;

  @include onHover() {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(76%) sepia(82%) saturate(4948%)
      hue-rotate(315deg) brightness(94%) contrast(121%);
  }
}
.comment__time {
  font-family: $font-sans;
  @include font(1.3rem, 1.3rem, 700);
  color: $primary-color-3;
}

input:active,
input:focus {
  outline: 2px solid $primary-gray;
}

.invalid {
  outline: 2px solid tomato !important;
}

.validation-tooltip {
  font-family: $font-sans;
  @include font(1.2rem, 1.2rem, 500);
  position: absolute;
  color: tomato;
}
