@use '../abstracts/' as *;

.comments {
  background-color: $accent-color-1;
  width: 70%;
  min-width: 29rem;
  border-radius: 1rem;
  padding: 2rem;

  @extend %flexcolumn;
  align-items: center;

  outline: 0.6rem solid $primary-color-3;
}

.comments__header {
  width: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-header__count {
  font-family: $font-sans;
  color: $primary-black;
  @include font(1.6rem, 1.6rem, 400);
  letter-spacing: 0.08rem;
}
.comments-header__sort {
  width: 10rem;
  height: 3rem;
}

.comments__form {
  margin: 2rem auto;
}

.comments-form {
  min-height: 10rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  font-family: $font-sans;
  @include font(1.6rem, 1.6rem, 400);

  border-top: 2px solid $primary-gray;
  border-bottom: 2px solid $primary-gray;

  @include maxQ(large) {
    padding: 2rem 0;
    flex-direction: column;
    gap: 2.5rem;

    & > * {
      width: 70%;
    }
  }

  @include maxQ(small) {
    & > * {
      width: 100%;
    }
  }
}
.comments-form__name {
  height: 4.8rem;
}
.comments-form__content {
  height: 4.8rem;
  flex: 0 1 50%;

  @include maxQ(large) {
    flex: 0 1 auto;
  }
}
.comments-form__date {
  @include font(1.2rem, 1.2rem, 400);
  height: 4.8rem;
}
.comments-form__submit {
  @include maxQ(large) {
    margin-top: 1rem;
  }
}
.comments__list {
  min-height: 50rem;
  width: 100%;

  @extend %flexcolumn;
  align-items: center;
  gap: 2rem;
}
