@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.wrapper {
  max-width: $max-width;
  padding: 0 20px;
  margin: 0 auto;

  @include maxQ(small) {
    padding: 0 10px;
  }
}

// use for bold text accent
.span-bold {
  font-weight: 700;
}

body {
  background-image: linear-gradient(
    to right top,
    #fbf0ff,
    #fbf0ff,
    #fbf0ff,
    #fbf0ff,
    #fbf0ff,
    #f5eaf9,
    #eee4f3,
    #e8deed,
    #dad0e0,
    #cdc3d2,
    #bfb5c5,
    #b2a8b8
  );

  padding: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

input,
select {
  padding: 0.8rem 0.7rem;
  background-color: $accent-color-3;
  border-radius: 0.5rem;
  height: 45%;
}

select {
  padding: 0rem 0.7rem;
  height: 100%;

  font-family: $font-sans;
  @include font(1.6rem, 1.6rem, 400);
}
